# Server
SERVER_PORT=3001
CLIENT_URL=http://localhost:3000

# Client (prefix with NEXT_PUBLIC_ for browser access)
NEXT_PUBLIC_SERVER_URL=http://localhost:3001

# Database
DB_PATH=./server/data/rtce.db
